<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trachoma Tracker</title>
    <!-- <link rel="stylesheet" href="../../app/app.css"> -->
    
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/bootstrap-responsive.min.css">
    
    <style>
      body {
        padding-top: 60px;  
        /*60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  </head>
  
    <!-- <header> -->
    
    <!-- </header> -->
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Ethiopian Med Tools</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="/resources/index1.html">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trachoma Tracker<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/resources/views/index1.html">Data Entry Form</a></li>
                  <li><a href="/resources/views/guide.html">Guide to Trachoma</a></li>
                  <!-- <li><a href="#">Something else here</a></li> -->
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>

              <li><a href="/resources/views/calendar.html">Ethiopian Pregnancy Wheel</a></li>
              <li><a href="/resources/views/about.html">About & Contact</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
       </div>
      </div>
    </div>



    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="span10"> -->
 <!--    <div class="row">
    <div class="span4">...</div>
    <div class="span4">...</div>
    </div> -->
      
      <hr>
      <div id="tracInfo">
        <h3>Trachoma Grading</h3>
        <p>All info taken from WHO grading card.</p>
        <div class="well">
        <ul>
          <li> Each eye must be examined and assessed separately. </li>
          <li> Use binocular loupes (x 2.5) and adequate lighting (either daylight or a torch).</li>
          <li> Signs must be clearly seen in order to be considered present. </li>
        </ul>
        </div>
        The eyelids and comea are observed first for inturned eyelashes and any corneal opactiy. The upper eyelid is then turned over (everted) to examine the conjuctiva over the stiffer part of the upper lid (tarsal conjunctiva). <br>
        The normal conjunctiva is pink, smooth, thin and transparent. Over the whole area of the tarsal conjunctiva there are normally large deep-lying blood vessels that run vertically. 
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img src="/resources/img/guide1.png" data-src="resources/img/guide1.png" alt="">
              <p>Normal tarsal conjunctiva (x 2 magnification). The dotted line shows the area to be examined.</p>
            </div>
          </li>
        </ul>
        <h2>Grading Scale</h2>
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <h3>Trachomatous Inflammation - Follicular (TF)</h3>
              <em>The presence of five or more follicles in the upper tarsal conjunctiva.</em>
              <img src="/resources/img/guide2.png" data-src="resources/img/guide2.png" alt="">
              <p>Follicles are round swellings that are paler than the surrounding conjunctiva, appearing white, grey or yellow. Follicles must be at least 0.5mm in diameter to be considered.
              </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <h3>Trachomatous Inflammation - Intense (TI)</h3>
              <em>Pronounced inflammatory thickening of the tarsal conjunctiva that obscures more than half of the normal deep tarsal vessels.</em>
              <img src="/resources/img/guide3.png" data-src="resources/img/guide2.png" alt="">
              <em>Trachomatous inflammation - follicular and intense (TF + TI)</em> 
              <p>The tarsal Conjunctiva appears red, rough and thickened. There are usually numerous follicles, which may be partially or totally covered by the thickened conjunctiva. 
              </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <h3>Trachomatous Scarring (TS)</h3>
              <em>The presence of scarring in the tarsal conjunctiva.</em>
              <img src="/resources/img/guide4.png" data-src="resources/img/guide4.png" alt="">
              <!-- <em>Trachomatous inflammation - follicular and intense (TF + TI)</em>  -->
              <p>Scars are easily visible as white lines, bands, or sheets in the tarsal conjunctiva. They are glistening and fibrous in appearance. Scarring, especially diffuse fibrosis, may obscure the tarsal blood vessels.
              </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <h3>Trachomatous Trichiasis (TT)</h3>
              <em>At least one eyelash rubs on the eyeball.</em>
              <img src="/resources/img/guide5.png" data-src="resources/img/guide5.png" alt="">
              <!-- <em>Trachomatous inflammation - follicular and intense (TF + TI)</em>  -->
              <p>Evidence of recent removal of inturned eyelashes should also be graded as trichiasis.
              </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <h3>Corneal Opactiy (CO)</h3>
              <em>Easily visible corneal opacity over the pupil.</em>
              <img src="/resources/img/guide6.png" data-src="resources/img/guide6.png" alt="">
              <!-- <em>Trachomatous inflammation - follicular and intense (TF + TI)</em>  -->
              <p>The pupil margin is blurred viewed through the opacity. Such corneal opacities cause significant visual impairment (less than 6/18 or .3 vision), and therefore visual acuity should be measured if possible.
              </p>
            </div>
          </li>
        </ul>

        <!-- <dl class="dl-horizontal">
          <dt>...</dt>
          <dd>...</dd>
        </dl> -->
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>


    <!-- <td-todos></td-todos> -->
   <!--  <footer id="info">
      <p>Footer</p>
    </footer> -->

    <!-- Scripts here. Don't remove this ↓ -->
    <!-- // <script src="../../components/polymer/polymer.min.js"></script> -->
    <!-- <link rel="import" href="elements/td-todos.html"> -->
  </body>

<script src="/resources/js/jquery-1.9.1.js"></script>
<script src="/resources/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<!-- <script src="http://code.angularjs.org/1.0.2/angular.min.js"></script> -->
<!-- <script src="js/angular-ui.min.js"></script> -->
<!-- <script src="js/app.js"></script> -->



</html>

