
html,
body {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    color: #ffe8e7;
    /*background: #E96D65;*/
    font-weight: 300;

    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('../components/todomvc-common/bg.png');
    color: #4d4d4d;
    width: 650px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body > header {
  padding-top: 22px;
  margin-bottom: -5px;
}

h1 {
  /*    position: absolute;
    top: -120px;*/
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.catg{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align:center;
    -webkit-box-align: left;
}
.listName2 {
    text-align:center;
}
.listName {

    -webkit-box-flex: 1;
    -webkit-box-align: end;
    font-weight:900;
    /*font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*text-align: right;*/
    /*padding-left:4px;*/
    /*padding-top:4px;*/
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*line-height: 1.4em;*/
    color: #4d4d4d;
}

hr{
    -webkit-margin-before: .2em;
    -webkit-margin-after:.2em;
}
ul{
    -webkit-margin-before: 0em;
    text-align:left;
    padding-left: .5em;
    padding-right:0em;
    list-style-type: none;
    /*display:block;*/
}
li{

}

#container1{
   display: flexbox;
   /*display: inline-flexbox;*/
   width: 500px;
}




#container{
display: -webkit-box;       
-webkit-box-orient: horizontal; /* Box-orient specifies whether the children of a box should be laid out horizontally or vertically - horizontal|vertical|inline-axis|block-axis|inherit */
-webkit-box-align: start; /* Box-align specifies how to align the child elements of a box - start|end|center|baseline|stretch */
-webkit-box-pack: start; /* Box-pack specifies where child elements of a box are placed when the box is larger than the size of the children - start|end|center|justify */
}
#container>div{
    border-radius: 1em;
margin:2px;
padding:3px;
/*box-shadow: 0 5px 0 #99331f, 0px 5px 6px black;*/
/*box-: 2px 2px 2px black;*/
border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 0 1px 1px #cccccc;
}
/* abbreviated CSS for child element, showing fraction use */
#element1{
-webkit-box-flex:1.0;  /*base width according to available space  */

}
#element2{
-webkit-box-flex:2.0; /* 2x base width according to available space */
}
#element3{
-webkit-box-flex:3.0; /* 3x base width according to available space */
}
